@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 66, 144, 245;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 66, 144, 245;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(24,89,173);
  background-image: url("/background-texture.png");
  background-blend-mode: multiply;
}

.paper-texture{
  background-image: url("/paper-texture.png");
  background-blend-mode:color-burn;
}

.game-input-board{
  border-color: #4f4288;
  border-width: 10px;
  border-style: ridge;
  border-radius: 25px;
}

.logo{
  border-color: #4f4288;
  border-width: 5px;
  border-style: ridge;
  border-radius: 25px;
}

.game-border{
  border-color: #4f4288;
  border-width: 5px;
  border-style: ridge;
}

.dialog-border{
  border-color: #4f4288;
  border-width: 5px;
  border-style: ridge;
}

.live-input:hover{
  filter: brightness(1.5)
}

.top-left{
  border-top-left-radius: 25px;
}

.top-right{
  border-top-right-radius: 25px;
}

.bottom-left{
  border-bottom-left-radius: 25px;
}

.bottom-right{
  border-bottom-right-radius: 25px;
}

.input-center{
  background-image: url("/color-dot-pentagon.png"), url("/paper-texture.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: auto 70%, 100%;
  background-blend-mode: hard-light, color-burn;
}

.square {
  max-width: 128px;
  max-height: 128px;
  line-break: auto;
}

@media screen and (max-width: 450px) {
  .square {
    max-width: 72px;
    max-height: 72px;
    line-break: loose;
  }
}

.blue-background{
  background: rgb(24,89,173);
  background-image: url("/background-texture.png");
  background-blend-mode: hard-light;
}

.container{
  background-color: rgb(66 32 6);
}

.input-square{
  background-color: rgb(180 83 9);
}
